.hos-container{
    width: 786px;
    height: auto;
    border-radius:8px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow: hidden;
}

.hos-image{
    display: flex;
    align-items: center;
    margin-bottom:70px;
    
}

.hos-image div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 124px;
    background: #8CCFFF;
    border-radius: 50%;

}

.hos-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.hos-content p{
    margin:0 !important;
}

.hos-content h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #14BEF0;


}

.address{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
    margin-bottom: 5px;

}

.type{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #414146;
    padding-bottom: 20px;


}

.span1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
   color: #02A401;

}

.span2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #787887;
    text-decoration: line-through;


}

.free{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #414146;
    margin-bottom: 5px;

    

}

.rate{
    width: 44.08px;
    height:  22.5px;
    border-radius: 3.5px;
    background: #00A500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 307.55px;
    height: 39.5px;
    margin-top: 20px;
    border-top: 1px solid #E8E8F0;
    cursor: pointer;

}

.hos-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 10px;
}

.hos-button p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #01A400;
}

.hos-button button{
    width: 212px;
    height: 40px;
    border-radius: 4px;
    background: #2AA7FF;
    border: 1px solid #14BEF0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color:white;
    cursor: pointer;

}
.total-container{
    width: 786px;
    height: auto;
    border-radius:8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: hidden;

}

.datentime{
    display: flex;
    margin-top: 40px;
}

.time{
    width: 84px;
    height: 31.59px;
    border-radius: 3px;
    border: 1px solid #2AA7FF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2AA7FF;
    margin-right: 10px;
}

.date{
    width: 128px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #00A500;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: center;
    color: #007100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}